*{
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

:root{
    --padding: 2vw;
}

@font-face {
    font-family: 'Norse';
    src: url(statics/Norse-Bold.otf);
    font-weight: bold;
    font-style: normal;
}

main{
    min-height: 100vh;
    background-color: black;
    font-family: sans-serif;
}

/* Flex container*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    &.vertical{
        flex-direction: column;
        width: 100%;
    }
    &.info{
        flex-basis: 50%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 98%);
    }
}

#bg_img{
    background-image: url('statics/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    color: white;
    flex-basis: 30%;
    height: 100vh;
    justify-content: flex-end;
    gap: 60vh;
    #logo{
        display: flex;
        width: 100%;
        justify-content: center;
        text-align: center;
        font-size: 5rem;
        font-family: Norse, sans-serif;
        background-color: rgba(0, 0, 0, 40%);
        img{
            width: 20%;
        }
        span{
            padding: 5% 0;
        }   
    }
}

.footer{
    margin-bottom: 1vh;
    font-size: 1rem;
}

a:link{
    color: white;
}

a:visited{
    color: grey;
}

.form{
    background-color: white;
    padding-left: var(--padding);
    box-sizing: border-box;
    align-items: flex-start;
    padding-top: 2vh;
    margin-bottom: 2vh;
    box-shadow: rgba(0, 0, 0, 35%) 0px 2px;
    >p{
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.text{
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    padding-left: var(--padding);
    box-sizing: border-box;
}

form .input{
    font-size: 0.8rem;
    min-width: 20vw;
    align-items: flex-start;
    label{
        font-weight: bold;
        color: rgba(0, 0, 0, 65%);
    }
    input{
        min-height: 3vh;
        min-width: 15vw;
        border: 0.5px solid grey;
        border-radius: 6px;
    }
}

button{
    align-self: flex-start;
    margin-left: 2vw;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    padding: 1.5vh 3.5vw;
    border-radius: 5px;
    border: none;
}

.login{
    align-self: flex-start;
    margin-left: 2vw;
    font-size: 1rem;
    font-weight: bold;
    >a{
        color: #596D48;
    }
}